@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: white;
    color:rgba(255,255,255, 0.75);
    font-family: 'Baloo Bhaina 2';
}

nav{
    position:fixed;
    display:flex;
    justify-content: center;
    width:100%;
    height: 80px;
    padding-top:10px;
    background-color: #090C40;
    z-index:20;
}


.container{
    display:flex;
    width:60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container div{
    margin-right:45px;
}

.inputSectionNav{
    display:flex;
    width:100%;
    justify-content: center;
}

.logo img{
    margin-top:13px;
}

img{
    max-width:100;
}

.button{
    display:flex;
    align-items: center;
    height:40px;
    text-align:center;
}

.button:hover{
    cursor: pointer;
    color:white;
}

.inputSectionNav {
    display:flex;
    justify-content: center;
}

.fa-angle-down{
    margin-left:15px;
}

.inputSectionNav #getDemo{
    padding:15px;
}

#getDemo{
    background:#1D52F2;
    color:white;
    padding:20px;
    font-size: 12px;
    border:none;
    font-weight: 700;
}

#getDemo:hover{
    cursor:pointer;
    background:#1D40D0;
}

#getDemo:focus{
    outline:none;
}

#getDemo:active{
    background:#1D52E0;
}

#input{
    border:none;
    width:20em;

}

#input:focus,
#login:focus,
#getDemo:focus{
    outline: none;
}

#login{
    margin-left:35px;
    padding:0 25px;
    background:transparent;
    border:1px solid rgba(255, 255, 255, 0.7);
    color:rgba(255, 255, 255, 0.7);
}

#login:hover{
    border:1px solid white ;
    color:white;
    cursor: pointer;
}


#login:active{
    background:rgb(240,240,240);
    color:#090C40;
}

.hamburgerMenu{
    display:none;
}


.sidebar-ul{
    display:none;
}

.landing-content{
    width:100%;
    height: calc(100vh - 90px);
    display:flex;
    justify-content: center;
    background-color: #090C40;
    padding-top:90px;
    min-height: 600px;
    position:relative;
}

.bigContainer{
    margin-top:80px;
    width:60%;
    display:flex;
    justify-content: center;
}

.textContainer{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    z-index:4;
    min-width: 500px;
}

.textContainer h1{
    color:white;
    font-size: 54px;
    line-height: 69px;
}

.inputBarMain{
    top:35%;
    width:35vw;
    min-width:30em;
    height:80px;
    background:white;
    display: flex;
    align-items: center;
    z-index:4;
    justify-content: space-between;
}

.inputBarMain button{
    margin:0 20px;
    height:55px;
    width:130px;
}

.inputBarMain input{
    height:inherit;
    font-size: 22px;
    margin-left:10px;
}

.imageContainer{
    position:relative;
    z-index: 3;
    right:0;
    margin-left:10px;
    width:100%;
    height:45em;
}

.card{
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow:21px 21px 20px 0 rgba(0,10,63,.2);
}

.girlPhoto{
    position: absolute;
    top:0;
    left:10%;
}

.imgBackgroundWaves{
    background:url("https://uploads-ssl.webflow.com/59318798d83bff2781822428/5e21e85d04ade016aaabba37_Neutral%20600%20Pattern%20Base%20(1).svg");
    position: relative;
    top:-6%;
    left:0;
    bottom:0;
    height:35em;
    width:25em;
    z-index:0;
    background-position:0 0;
    opacity:.8;
}


.cardSquared{
    position: relative;
    bottom:30%;
    left:80%;
    z-index:6;
    width:270px;
    height:190px;
    background:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#090C40;
}

.cardSquaredContainer{
    position:absolute;
    margin:20px 25px;
    font-size:12px;
    line-height: 20px;
}

.card-square-title{
    color:#00cec9;
    font-weight: bold;
    font-size:18px;
}

.audience-img{
    margin-left:45px;
}

.audience-number{
    font-size:36px;
    font-weight: 550;
}

.card-square-info{
    font-size:16px;
}

.triangle{
    position: absolute;
    width:100vw;
    top:auto;
    bottom:-1px;
    left:0;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.remark{
    font-weight: 600;
    color:white
}

.fa-mouse-pointer{
    font-size: 13px;
    margin-right:5px;
    color:#00cec9;
}

.experiencesDemo{
    margin-top:150px;
    color:rgba(0,0,60,.6);
    display:flex;
    flex-direction: column;
    width:100%;
}


.title-experiences{
    text-align: center;
    max-width:800px;
}

.title-experiences h2{
    font-size: 38px;
    line-height: 40px;
    margin-bottom:30px;
}

.title-experiences h4{
    margin:40px 120px 20px 120px;
}

.title-experiences #getDemo{
    margin-bottom:50px;
    font-size:14px;
    padding:20px;
}

.experiencesDemo img{
    box-shadow:21px 21px 20px 0 rgba(0,10,63,.2);
    margin:0 50px 30px 50px;
    width:100%;
    max-width:800px;
}


.quote-section{
    background:linear-gradient(180deg,#f3f5f8,#fff);
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:80px;
}

.quote-container{
    max-width: 800px;
    height:100%;
    max-height:100%;
    width:100%;
}

.quote-face-img,
.quote-container .imgBackgroundWaves{
    width:300px;
    height:350px;
}

.quote-face-img{
    z-index:1;
    position:absolute;
    box-shadow:21px 21px 20px 0 rgba(0,10,63,.2);
}

.quote-text{
    color:rgba(0,0,60,.6);
    width:100%;
}

.quote-text h4{
    margin:20px 0;
}

.quote-images{
    display:inline-block;
}

.quote-images .imgBackgroundWaves{
    opacity: .2;
   position: relative;
   z-index:0;
   bottom:0;
   left:-10%;
}


.cards-collaborate{
    background:#edf0f5;
    width:100%;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-collaborate,
.collaborate-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.collaborate-title{
    height:20%;
    margin-top:5%;
    color:rgba(0,0,60,.6);
}

.collaborate-title h2{
    font-size:42px;
    width:100%;
    text-align: center;
}

.collaborate-title h4{
    width:50%;
    text-align: center;
}


.cards-container{
    display:flex;
    justify-content: center;
    height:60%;
    width:100%;
    margin:5% 0 8%;
}

.cards-container .card{
    background:white;
    height: 450px;
    transition: .3s all ease-in-out ;
    position:relative;
}

.cards-container .card:hover{
    transform:translateY(-5px);
}

.cards-container .card img{
    border-top-left-radius: 6%;
}

.cards-container .card p,
.card h3{
    margin:0 20px;
}

.cards-container .card span{
    position:absolute;
    bottom:10px;
    left:20px;
    color:#1D40D0;
    font-weight: 600;
}

.card span:hover{
    cursor:pointer;
}

.collaborate-title{
    width:100%;
}


footer{
    height:100%;
    width:100%;
    background-color:#090C40;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-container-top{
    display:flex;
    align-items: flex-start;
    height: 80%;
}

.col{
    width:30%;
    margin-top:25px;
}

.col h3,
.col h4{
    color:white;
}

.col li{
    color:rgba(90, 153, 224, 0.8);
    list-style: none;
    margin:5px 0;
}

.col li:hover{
    color:white;
    cursor: pointer;
}

.footer-separator{
    display:flex;
    justify-content: center;
    content:'';
    width:60%;
    height:1px;
    background:rgba(255,255,255, 0.75);
}

.footer-container-bottom{
    height:20%;
    display:flex;
}

.social-media{
    display: flex;
    width:100%;
    justify-content: flex-start;
}

.social-media div{
    align-items: center;
    margin:15px;
}

.footer-additional-info{
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.footer-additional-info p{
    margin-left:15px;
}

.footer-additional-info p:hover,
.social-media div:hover{
    color:white;
    cursor: pointer;
}

.rights{
    color:white;
    margin-right:-35px;
    margin-left:20px;
}

::placeholder{
    padding:20px;
}

@media (max-width:1220px){
    nav{
       display:flex;
    }

    .container div{
        margin-right:20px;
    }
    
    .inputSectionNav input{
        max-width: 200px;
    }

    .inputSectionNav #getDemo{
        width:90px;
    }

    .imageContainer{
        display:none;
    }

    .quote-images img,
    .quote-images .imgBackgroundWaves{
        height:240px;
        width:200px;
    }
}

@media (max-width:830px){
    .nav-bar{
        display:flex;
        justify-content: space-between;
    }

    .hamburgerMenu{
        display:flex;
        font-size: 25px;
        transition:.1s ease active;
    }

    .hamburgerMenu:hover{
        cursor: pointer;
    }


    .inputSectionNav,
    .button,
    #login,
    .inputSectionNav #getDemo,
    .inputSectionNav #input,
    .inputBarMain{
        display:none;
    }

    .quote-container{
        flex-direction: column;
        width:100%;
    }

    .quote-images{
        margin-bottom:40px;
    }

    .title-experiences img{
        margin:0 10px 30px 10px;
    }

    
    .collaborate-title h2{
        font-size:28px;
        font-weight: 700;
    }
    
    .cards-container{
        flex-direction:column;
    }

    .cards-container .card{
        margin-bottom:15%;
    }

    .cards-container .card img{
        width:100%;
    }

    .social-media{
        justify-content: center;
    }
    .footer-additional-info{
        justify-content: center;
        display:grid;
    }

    .footer-container-bottom{
        display:flex;
        flex-direction: column;
        align-content: center;
    }

    .footer-additional-info{
        display:flex;
        position:relative;
        height:60px;
    }
    
    .rights{
        position: absolute; 
        bottom: 0;
        margin-left:0;
    }

    .sidebar{
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height: 100vh;
        justify-content: flex-end;
        margin-top:80px;
        animation:unfold .5s forwards;
        z-index:19;
    }
    
    @keyframes unfold{
        0%{
            transform: translateY(-4000px);
            z-index:0;
        }
    
        25%{
            transform:translateY(-400px);
        }
    }
    
    .sidebar-ul{
        background:#FFF;
        width:100%;
        padding:40px;
        color:rgba(0,0,0,.6);
        user-select: none;
        display:block;
    }
    
    .sidebar-top{
        width:100%;
        height:20%;
        display:flex;
        flex-direction: column;
    }
    
    .sidebar-experiences,
    .sidebar-pulse{
        margin:10px 0;
        height:150px;
        width:60%;
        display:grid;
        grid-template-rows:30px 30px ;
        align-items: center;
        justify-content: flex-start;
        cursor:pointer;
    }
    
    .sidebar-experiences img,
    .sidebar-pulse img{
        grid-column: 1/3;
        grid-row:1/3;
        margin-right:15px;
    }
    
    .sidebar-experiences h3,
    .sidebar-pulse h3{
        grid-row: 1/2;
        font-size:17px;
    }

    .sidebar-experiences h3{
        color: blue;
    }
    
    .sidebar-pulse h3{
        color:#ff1493;
    }
    
    .sidebar-top{
        font-size: 14px;;
    }
    
    .sidebar-separator{
        margin:50px 0 20px;
        height: 1px;
        content:'';
        background:rgba(0,0,0,.8);
    }
    
    .sidebar-bottom{
        width:100%;
        height: 20%;
        display:flex;
        justify-content: center;
        list-style: none;
    }
    
    .sidebar-bottom li:hover{
        color:blue;
        cursor: pointer;
    }
    
    .sidebar-bottom-left,
    .sidebar-bottom-right{
        margin:0 50px;
    }
    .sidebar-bottom-left{
        margin-left:-50px;
    }
    
    .demoContainer{
        width:100%;
        display:flex;
        justify-content: center;
    }
    
    .demoContainer #getDemo{
        padding: 15px 22%;
    }
}

@media (max-width:500px){
    .bigContainer{
        width:70%;
        flex-direction: column;
        align-items: center;
        min-height: 0;
    }
    .textContainer{
        justify-content: center;
        width:100%;
        min-width: 0;
        margin-top:-30%;
    }

    .textContainer h1{
        font-size: 36px;
        line-height: 40px;
    }

    .inputBarMain{
        display:none;
    }

    .title-experiences{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin:7%;
    }

    .title-experiences h4{
        margin:0 15px 20px;
    }

    .experiencesDemo img{
        width:300px;
    }

    .quote-container{
        flex-direction: column;
        width:100%;
    }

    .footer-container-top{
        display:grid;
        justify-content: center;
    }

    .col-logo{
        grid-column: 1/3;
        width:100%;
        display:flex;
    }

    .col-logo img{
        margin-right:40px;
    }

    .col{
        width:100%;
    }

    .col-products,
    .col-company{
        grid-column: 1/2;
    }

    .quote-text{
        margin-top:30px;
    }

    .container-collaborate{
        width:80%;
    }

    .collaborate-title h4{
        width:100%;
        font-size: 12px;
    }

    .cards-container .card{
        height: 520px;
        width:100%;
    }

    .watch-link,
    .read-link,
    .learn-link{
        position:static;
        margin-top: 20px;
    }
}